

.button {
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    display: block;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    background-color: #61dafb;
}

.button:hover {
    box-shadow: 0 0 5px silver;
}

.button:active {
    box-shadow: 0 0 5px black;
}


